@import '@/assets/styles/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: var(--line-height-base);
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input,
select {
  font-family: inherit;
  color: var(--color-text);
  cursor: pointer;
}

button {
  border: none;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
}
