.base-time-hour,
.base-time-minute {
  display: flex;
  flex-direction: column;
}
.base-label {
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-text);
}
.time-field {
  width: 6rem;
  padding: 0.5rem 0.25rem;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  appearance: none;
  outline: 0;
}
.time-field--focus {
  border-color: #64b5f6;
}
.time-field--error {
  border-color: red;
}
.time-field--default {
  border-color: #ccc;
}
@media (min-width: 768px) {
  .base-label {
    font-size: 1.6rem;
  }
  .time-field {
    font-size: 1.6rem;
  }
}
