:root {
  --line-height-base: 1.5;

  /* base */
  --color-primary: #db1200;
  --color-secondary: #000000;
  --color-accent: #1e90ff;
  --color-text: #333;
  --color-bg: #fff;

  /* status */
  --color-status-represent: orange;
  --color-status-regular: green;
  --color-status-change: blue;
  --color-status-cancelled: var(--color-primary);
  --color-status-special: blueviolet;
  --border-status-represent: 0.5rem solid var(--color-status-represent);
  --border-status-regular: 0.5rem solid var(--color-status-regular);
  --border-status-change: 0.5rem solid var(--color-status-change);
  --border-status-cancelled: 0.5rem solid var(--color-status-cancelled);
  --border-status-special: 0.5rem solid var(--color-status-special);

  /* selectors, inputs */
  --color-border-valid: var(--color-accent);
  --color-border-error: var(--color-primary);
  --color-border-default: #999;
}
